.board {
  display: flex;
  background-color: var(--color-blue);
  padding: 10px;
  border-radius: 20px;
  background-size: 80px 80px;
  background-position: 10px 10px;
  background-image: radial-gradient(#2045d3 29px, transparent 29px);
  filter: drop-shadow(5px 5px rgba(0, 0, 60, 0.25));
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: none;
  background: none;
  padding: 10px;
}

.column:disabled {
  cursor: default;
}

.column:hover {
  transform: none;
}

.columnPointer {
  position: absolute;
  top: -50px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid var(--color-green);
  margin-inline: 10px;
  transition: left 0.1s ease-in-out;
}

.columnPointer[data-player="player_1"] {
  border-top-color: var(--color-player-1);
}

.columnPointer[data-player="player_2"] {
  border-top-color: var(--color-player-2);
}
