.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.buttonWrapper {
  display: flex;
  gap: 10px;
}

.tabContentWrapper {
  border: 3px solid var(--color-blue);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 320px;
  max-width: 320px;
}

.tab {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: -3px;
  margin-left: 20px;
}

.tab[data-current="true"] {
  border: 3px solid var(--color-blue);
  background-color: var(--color-white);
  border-bottom: none;
}

.tab:hover {
  transform: none;
}

.colorPickerWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: right;
  color: var(--color-grey);
}

.error {
  color: var(--color-red);
}
