.chip {
  border: none;
  outline: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: transparent;
  background-size: 70px 70px;
  background-position: -10px -10px;
  filter: drop-shadow(5px 5px rgba(0, 0, 0, 0.25));
}

.chip[data-player="player_1"] {
  background-color: var(--color-player-1);
  animation: 0.2s ease-out fall;
}

.chip[data-player="player_2"] {
  background-color: var(--color-player-2);
  animation: 0.2s ease-out fall;
}

.chip[data-connected="true"] {
  background-repeat: no-repeat;
  background-size: 500% 500%;
  background-image: linear-gradient(
      45deg,
      transparent 40%,
      rgba(255, 255, 255, 0.7) 40%,
      rgba(255, 255, 255, 0.7) 42%,
      transparent 42%
    ),
    linear-gradient(
      45deg,
      transparent 45%,
      rgba(255, 255, 255, 0.7) 45%,
      rgba(255, 255, 255, 0.7) 55%,
      transparent 55%
    );
  animation: 2s normal infinite ease-in-out shine;
}

@keyframes fall {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }

  70% {
    transform: translateY(0);
    opacity: 1;
  }

  85% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shine {
  0% {
    background-position: center 150%;
  }

  100% {
    background-position: center -50%;
  }
}
