.wrapper {
  padding: 20px 30px;
  background-color: var(--color-blue);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: fixed;
  left: 30px;
  bottom: 0;
  filter: drop-shadow(5px 5px rgba(0, 0, 0, 0.25));
}

.button {
  filter: drop-shadow(5px 5px rgba(0, 0, 0, 0.25));
}
