.wrapper {
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.background {
  width: 300%;
  height: 300%;
  position: fixed;
  background-image: url("/public/background.svg");
  background-size: 140px;
  rotate: 45deg;
  background-color: var(--color-background);
  z-index: -1;
}
