.modal {
  padding: 0;
  background-color: transparent;
  overflow: hidden;
  width: 800px;
  height: 800px;
  position: relative;
}

.modalBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 800px;
  height: 800px;
  background-image: url("/public/star.svg");
  animation: 5s linear infinite star-rotate;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  z-index: -1;
}

.modalContentWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

@keyframes star-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(68.8deg);
  }
}
