:root {
  --color-player-1: #fa4134;
  --color-player-2: #e7fa2f;
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #3497fa;
  --color-green: #e7fa2f;
  --color-red: #fa4134;
  --color-grey: #57697a;
  --color-background: #c4e3f8;
}

body {
  margin: 0;
  font-size: 20px;
  color: #57697a;
  font-family: "Montserrat", Arial, sans-serif;
}

* {
  box-sizing: border-box;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-grey);
  margin: 0;
}

h1,
h2 {
  text-align: center;
  font-size: 40px;
}

a {
  text-decoration: none;
  display: block;
}

button,
a {
  border: none;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  color: var(--color-blue);
  background-color: transparent;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

button:hover,
a:hover {
  transform: scale(1.1);
}

button:active {
  transition: none;
  translate: 0 5px;
}

button.filled,
a.filled {
  border-radius: 20px;
  background-color: var(--color-blue);
  color: var(--color-green);
}

button.filled:active {
  background-color: #2045d3;
}

button.filled:disabled,
input:disabled {
  transform: none;
  cursor: default;
  opacity: 0.7;
}

.shadow {
  filter: drop-shadow(5px 5px rgba(0, 0, 0, 0.25));
}

dialog {
  border: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

dialog[open] {
  animation: 0.3s ease-in modal-open;
}

input {
  border: 3px solid var(--color-blue);
  background-color: var(--color-background);
  outline: none;
  padding: 10px;
  border-radius: 20px;
  color: var(--color-grey);
}

input[type="color"] {
  padding: 0;
  display: block;
  height: 100%;
  aspect-ratio: 1;
}

@keyframes modal-open {
  0% {
    transform: scale(0);
  }

  70% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
