:root {
  --color-player-1: #fa4134;
  --color-player-2: #e7fa2f;
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #3497fa;
  --color-green: #e7fa2f;
  --color-red: #fa4134;
  --color-grey: #57697a;
  --color-background: #c4e3f8;
}

body {
  margin: 0;
  font-size: 20px;
  color: #57697a;
  font-family: "Montserrat", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-grey);
}

button {
  border: none;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: var(--color-blue);
  background-color: transparent;
  font-weight: 500;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transition: none;
  translate: 0 5px;
}

button.filled {
  border-radius: 20px;
  background-color: var(--color-blue);
  color: var(--color-green);
}

button.filled:active {
  background-color: #2045d3;
}

.shadow {
  filter: drop-shadow(5px 5px rgba(0, 0, 0, 0.25));
}
